.alert-title-none {
    display: none;
}

.meteo-card-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.meteo-card {
    margin-top: 20px;
    width: 12%;
}

.meteo-card img {
    width: 66%;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

.days-container {
  width: 100%;
}

.days-nav {
  width: 75%;
}

.main-title {
  width: 15%;
}

li {
  width: 20%;
}

li button {
  width: 100%;
}

.days-container {
  display: flex;
  justify-content: center;
}


@media screen and (max-width: 760px) {

    .meteo-card-container {
        flex-direction: column;
        justify-content: space-around;
    }

    .meteo-card {
        margin-top: 20px;
        width: 66%;
        align-self: center;
    }

  /*.days-container {*/
  /*  flex-direction: column;*/
  /*}*/

  ul {
    flex-direction: column;
  }

  li {
    align-self: center;
    width: 40%;
  }
}

@media screen and (max-width: 460px) {


}